{% extends 'base.html.twig' %}

{% block title %}Mon Blog Pas Cringe! - Liste des posts{% endblock %}

{% block body %}
    <main>
        <h1>Liste des posts</h1>
        {% for post in posts %}
            <a href="{{ path('app_post_show', {'slug': post.slug}) }}">
            <div>
                <div>
                    <h3>{{ post.title }}</h3>
                    <p>Publier le : {{ post.getPublishedAt().format('d/m/Y H:i:s') }}</p>
                </div>
                <p>{{ post.description }}</p>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_admin_post_edit', {'id': post.id}) }}">Modifier le poste</a>
                {% endif %}
            </div>
            </a>
        {% endfor %}
    </main>
{% endblock %}