<header class="header">
    <div class="start">
        <a href="{{ path("app_home") }}"><img src="/logo.png" alt="logo" class="logo"></a>
    </div>
    <div class="end">

        {% if is_granted("ROLE_ADMIN") %}
            <div class="post">
                <a href="{{ path("app_admin_index") }}">Administration</a>
            </div>
        {% endif %}

        <a href="{{ path("app_post_list") }}">Postes</a>
        {% if app.user %}
            <a href="{{ path("app_logout") }}">Déconnexion</a>
        {% else %}
            <a href="{{ path("app_login") }}">Connexion</a>
            <a href="{{ path("app_register") }}">Inscription</a>
        {% endif %}
    </div>
</header>